<ion-content class="ion-padding">
  <h3>Repetitions</h3>
  <div [className]="selectedInput === 0 ? 'custom-input selected-input' : 'custom-input'">
    <div class="change-button">
      <span>-</span>
      <ion-button (click)="buttonClick(-1)" size="small">1</ion-button>
    </div>
    <div (click)="selectedInput = 0" class="ion-text-center count">
      <ion-label> {{repetitions}} rep</ion-label>
    </div>
    <div class="change-button">
      <ion-button (click)="buttonClick(1)" size="small">1</ion-button>
      <span>+</span>
    </div>
  </div>
  <h3>Weight</h3>
  <div [className]="selectedInput === 1 ? 'custom-input selected-input' : 'custom-input'">
    <div class="change-button">
      <span>-</span>
      <ion-button (click)="buttonClick(-5, true)" size="small">5</ion-button>
      <ion-button (click)="buttonClick(-1, true)" size="small">1</ion-button>
    </div>
    <div (click)="selectedInput = 1" class="ion-text-center count">
      <ion-label> {{weight}} kg</ion-label>
    </div>
    <div class="change-button">
      <ion-button (click)="buttonClick(1, true)" size="small">1</ion-button>
      <ion-button (click)="buttonClick(5, true)" size="small">5</ion-button>
      <span>+</span>
    </div>
  </div>
  <ion-button expand="block"  (click)="addSet()">Add Set</ion-button>
  <app-num-keyboard (buttonPressed)="keyClicked($event)"></app-num-keyboard>
</ion-content>