<ion-row>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(1)">1</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(2)">2</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(3)">3</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(4)">4</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(5)">5</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(6)">6</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(7)">7</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(8)">8</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(9)">9</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="buttonClick(0)">0</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" fill="outline" (click)="backspaceClick()">
      <ion-icon name="backspace-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>